@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "Gotham Medium Regular";
  src: url("../fonts/Gotham Medium Regular/Gotham Medium Regular.ttf"), url("../fonts/Gotham Medium Regular/gotham-medium-webfont.woff"), url("../fonts/Gotham Medium Regular/gotham-medium-webfont.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/gothambold/gothambold1.eot"), url("../fonts/gothambold/gothambold1.ttf"), url("../fonts/gothambold/gothambold1.woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/GothamBook/GothamBook.eot"), url("../fonts/GothamBook/GothamBook.ttf"), url("../fonts/GothamBook/GothamBook.woff");
  font-style: normal;
  font-weight: 350;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.inner {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  color: #ffffff;
  height: 100vh;
  text-transform: uppercase;
}
header .slick {
  text-align: center;
}
header .slick .slick-prev, header .slick .slick-next {
  display: none;
}
header .slick .title {
  width: 100%;
}
header .slick h1 {
  font-family: "Gotham Bold", sans-serif;
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 0.05em;
  margin: 0 0 27px 0;
}
header .slick p {
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
  letter-spacing: 0.3em;
}
header .slick__slide1 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("../img/header.png");
  min-height: 100vh;
}
header .slick__slide2 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("../img/header2.png");
  min-height: 100vh;
}
header .slick__slide3 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("../img/header3.png");
  min-height: 100vh;
}
header .slick__slide4 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("../img/header4.png");
  min-height: 100vh;
}
header .slick__slide5 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("../img/header5.png");
  min-height: 100vh;
}
header .slick .slick-dots {
  bottom: 50%;
  transform: rotate(90deg);
  left: 48%;
}

.header {
  position: relative;
  bottom: 100%;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  width: 670px;
  justify-content: space-around;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  list-style: none;
}
.header__menu li {
  cursor: pointer;
  display: inline-block;
}
.header__menu li:before {
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 15px;
}
.header__menu li:hover:before {
  background-color: white;
}

.social {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
.social a {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.social a:hover {
  background-color: white;
  color: #7874b6;
}

header .slick-dots li.slick-active button:before {
  background-color: white;
  color: #ffffff;
  opacity: 1;
}
header .slick-dots li button:before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-radius: 50%;
  color: #ffffff;
  opacity: 1;
}
header .slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .slick-dotted.slick-slider {
  margin-bottom: 0;
}
header .down {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  text-align: center;
}
header .down:hover {
  background-color: rgba(225, 225, 225, 0.5);
}
header .down:before {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  display: inline-block;
  position: relative;
  top: 20%;
  transform: rotate(-45deg);
}

.what_we_do {
  color: #2c4058;
}

.block1, .block2 {
  padding-top: 100px;
}
.block1__title, .block2__title {
  font-family: "Gotham Medium Regular";
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 100px;
}
.block1__title:before, .block2__title:before {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  margin: 0 auto 40px auto;
  background-color: #2c4058;
}
.block1__flexbox, .block2__flexbox {
  display: flex;
  justify-content: space-between;
}
.block1__flexbox__images, .block2__flexbox__images {
  position: relative;
}
.block1__flexbox__images div, .block2__flexbox__images div {
  width: 585px;
  height: 470px;
  background-color: #67afe2;
  position: absolute;
  left: -215px;
}
.block1__flexbox__images img, .block2__flexbox__images img {
  position: relative;
  top: 70px;
}
.block1__flexbox__info, .block2__flexbox__info {
  margin-left: 70px;
  padding-top: 125px;
}
.block1__flexbox__info h4, .block2__flexbox__info h4 {
  font-family: "Gotham Book", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
}
.block1__flexbox__info h3, .block2__flexbox__info h3 {
  font-family: "Gotham Bold", sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  margin: 20px 0 40px 0;
}
.block1__flexbox__info p, .block2__flexbox__info p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
.block1__flexbox__info .location, .block2__flexbox__info .location {
  font-style: italic;
  margin-bottom: 0;
  margin-top: 60px;
}

.block2 {
  padding-top: 170px;
  padding-bottom: 140px;
}
.block2__flexbox__info {
  margin-left: 0;
  margin-right: 70px;
}
.block2__flexbox__images div {
  left: 215px;
}

img[alt=build] {
  transition: 0.3s;
}
img[alt=build]:hover {
  transform: scale(1.1);
}

.news {
  background-image: url("../img/gallery.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 140px 0;
}
.news .slick-track {
  margin-bottom: 60px;
}
.news .slick-dots li.slick-active button:before {
  background-color: white;
  color: #ffffff;
  opacity: 1;
}
.news .slick-dots li button:before {
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid;
  border-radius: 50%;
  color: #ffffff;
  opacity: 1;
}
.news .slick-prev, .news .slick-next {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.news .slick-prev:hover, .news .slick-next:hover {
  background-color: rgba(225, 225, 225, 0.5);
}
.news .slick-prev:before, .news .slick-next:before {
  content: "";
  width: 5px;
  height: 5px;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  display: inline-block;
}
.news .slick-prev {
  left: -100px;
  top: 45%;
}
.news .slick-prev:before {
  transform: rotate(45deg);
}
.news .slick-next {
  right: -100px;
  top: 45%;
}
.news .slick-next:before {
  transform: rotate(-135deg);
}
.news__title {
  font-family: "Gotham Medium Regular";
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  color: white;
  margin-bottom: 100px;
}
.news__title:before {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  margin: 0 auto 40px auto;
  background-color: white;
}
.news .block {
  width: 360px;
  min-width: 360px;
  margin: 0 10px;
  background-color: white;
  overflow: hidden;
}
.news .block:focus {
  outline: none;
}
.news .block .img {
  height: 240px;
  background-image: url("../img/news1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
}
.news .block .img:hover {
  opacity: 0.7;
}
.news .block .img:hover div {
  background-color: rgba(0, 0, 0, 0.5);
}
.news .block .img div {
  width: 80px;
  height: 80px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 33%;
  left: 40%;
}
.news .block .img div:before {
  content: "";
  width: 23px;
  height: 1px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 35%;
}
.news .block .img div:after {
  content: "";
  width: 1px;
  height: 23px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 50%;
}
.news .block .img2 {
  background-image: url("../img/news2.png");
}
.news .block .img3 {
  background-image: url("../img/news3.png");
}
.news .block .img4 {
  background-image: url("../img/news4.jpg");
}
.news .block .img5 {
  background-image: url("../img/news5.png");
}
.news .block .content {
  padding: 25px 20px;
  overflow: hidden;
}
.news .block .content h3 {
  text-transform: uppercase;
  font-family: "Gotham Bold", sans-serif;
  font-size: 22px;
  color: #2c4058;
  line-height: 34px;
}
.news .block .content p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #4b5562;
  line-height: 30px;
  margin: 8px 0 37px 0;
  height: 58px;
  overflow: hidden;
}
.news .block .content p span {
  width: 12px;
  height: 12px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  display: block;
  transform: rotate(135deg);
  margin: 10px auto 0 auto;
  cursor: pointer;
}
.news .author {
  font-family: "Gotham Book", sans-serif;
  display: flex;
  align-items: center;
}
.news .author .foto {
  width: 60px;
  height: 60px;
  background-image: url("../img/IsaacDumn.png");
}
.news .author .foto2 {
  background-image: url("../img/DominicFreeman.png");
}
.news .author .foto3 {
  background-image: url("../img/AliceWard.png");
}
.news .author .text {
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}
.news .author .text h4 {
  color: #2c4058;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  cursor: pointer;
}
.news .author .text .date {
  color: #55b7ff;
  font-size: 14px;
  margin: 0;
  font-family: "Gotham Book", sans-serif;
  line-height: 22px;
  cursor: pointer;
  height: auto;
}

.btn {
  color: #2c4058;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  padding: 18px 40px;
  border: 1px solid;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}
.btn:hover:after {
  border-color: #2c4058;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.gallery {
  padding: 140px 0;
}
.gallery__title {
  font-family: "Gotham Medium Regular";
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  margin-bottom: 100px;
}
.gallery__title:before {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  margin: 0 auto 40px auto;
  background-color: #2c4058;
}
.gallery__flexbox {
  display: flex;
  margin-bottom: 73px;
}
.gallery__flexbox__left {
  width: 50%;
  position: relative;
}
.gallery__flexbox__right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}
.gallery__flexbox__right div {
  position: relative;
}
.gallery__btn {
  text-align: center;
}
.gallery img[alt=global] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.gallery .cycle {
  background-image: url("../img/cyclotron.jpg");
  height: 438px;
  cursor: move;
  position: relative;
  margin-bottom: 73px;
  display: none;
}
.gallery .cycle .close {
  border: 1px solid #4b5562;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 100%;
  transform: translate(-100%, 0);
  cursor: pointer;
  text-align: center;
}
.gallery .cycle .close:hover {
  background-color: rgba(225, 225, 225, 0.5);
}
.gallery .cycle .close:before, .gallery .cycle .close:after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
}
.gallery .cycle .close:before {
  border-bottom: 1px solid #4b5562;
  transform: rotate(-45deg);
  left: 3px;
  top: 7px;
}
.gallery .cycle .close:after {
  border-left: 1px solid #4b5562;
  transform: rotate(-45deg);
  top: 6px;
  right: 1px;
}

.gallery__flexbox__left:hover::after,
.gallery__flexbox__right div:hover::after {
  content: "";
  width: 580px;
  height: 438px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.gallery__flexbox__left:hover img[alt=global],
.gallery__flexbox__right div:hover img[alt=global] {
  display: block;
  z-index: 1;
  cursor: pointer;
}

.gallery__flexbox__right div:hover::after {
  width: 285px;
  height: 214px;
}

.map {
  position: relative;
}

#map {
  width: 100%;
  height: 700px;
}

.get {
  width: 770px;
  height: 450px;
  display: flex;
  color: #2c4058;
  padding: 60px 60px 80px 60px;
  background-color: #fff;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: "Gotham Book", sans-serif;
  font-size: 18px;
}
.get__title {
  font-family: "Gotham Medium Regular";
  font-size: 44px;
  color: #2c4058;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  width: 100%;
}
.get__title:before {
  content: "";
  width: 100px;
  height: 1px;
  display: block;
  margin: 0 auto 40px auto;
  background-color: #2c4058;
  margin-bottom: 25px;
}
.get__info {
  width: 50%;
}
.get__info p {
  margin-top: 40px;
}
.get__info p .far, .get__info p .fas {
  color: #7874b6;
  margin-right: 10px;
}
.get__info a {
  text-decoration: none;
  color: #2c4058;
}
.get__right {
  width: 50%;
  margin-top: 25px;
}
.get__right input {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #2c4058;
  opacity: 0.5;
  margin-bottom: 25px;
}
.get__right input:focus {
  border-bottom: 1px solid #2c4058;
  outline: none;
  opacity: 1;
}
.get__right .btn {
  background-color: transparent;
  float: right;
  margin-top: 7px;
}

footer {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("../img/footer.png");
  padding: 200px 0;
}
footer .footer {
  max-width: 770px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer__copyright {
  width: 100%;
  font-family: "Gotham Book", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-top: 50px;
}
footer .footer__copyright span {
  margin: 0 20px;
}

/*# sourceMappingURL=main.css.map */
